<gridstack [options]="gridOptions">
  <ng-container *ngFor="let widget of dashboardWidgets">
    <gridstack-item [attr.gs-w]="widget.width" [attr.gs-h]="widget.height">
      <ng-container *ngIf="widget.type === 'date'">
        <dashboard-date-widget></dashboard-date-widget>
      </ng-container>
      <ng-container *ngIf="widget.type === 'time'">
        <dashboard-time-widget></dashboard-time-widget>
      </ng-container>
      <ng-container *ngIf="widget.type === 'd3'">
        <dashboard-d3-sample-widget></dashboard-d3-sample-widget>
      </ng-container>
    </gridstack-item>
  </ng-container>
</gridstack>
