<!-- <gridstack [options]="gridOptions" (changeCB)="onChange($event)">
  <gridstack-item *ngFor="let n of items; trackBy: identify" [options]="n">
    Item {{ n.id }}
  </gridstack-item>
</gridstack> -->
<gridstack [options]="gridOptions">
  <ng-container *ngFor="let widget of dashboardWidgets">
    <gridstack-item gs-w="6" gs-h="3">
      <ng-container *ngIf="widget.type === 'date'">
        <dashboard-date-widget></dashboard-date-widget>
      </ng-container>
      <ng-container *ngIf="widget.type === 'time'">
        <dashboard-time-widget></dashboard-time-widget>
      </ng-container>
    </gridstack-item>
  </ng-container>
</gridstack>
